body {
    margin: auto;
    max-width: 40em;
    font-family: 'Arial', 'Helvetica', sans-serif;
    background-color: rgb(192, 221, 192);
    color:rgb(48, 46, 46);
}

a {
    color:rgb(66, 143, 66);
}

h2 {
    color:rgb(31, 97, 31);
}

hr {
    color:rgb(231, 228, 228);
}

th {
    text-align: left;
}

.scroller {
    width: 40em;
    height: 15em;
    overflow-y: scroll;
    scrollbar-color: green;
    scrollbar-width: auto;
}

.button {
    color:green;
    background-color:rgb(231, 228, 228);
    padding:5px;
    border-radius: .2em;
    text-align: center;
}

.cancel_button {
    color: white;
    background-color: rgb(192, 221, 192);
}

#linkbutton {
    text-decoration: none;
    color: green;
    background-color:rgb(231, 228, 228);
    padding:5px;
    border-radius: .2em;
    text-align: center;
}

#ready {
    color:blueviolet;
}

#ginfo {
    color:rgb(48, 46, 46);
}

#dayrow {
font-size: 1em;
color:rgb(31, 97, 31);
}

#linkx {
    font-size: .8em;
    text-decoration: none;
    color: rgb(122, 115, 96);
}

#timefield {
    background-color: rgb(216, 236, 216);
}

#entrylist {
    background-color: rgb(216, 236, 216);
}