{% extends "layout.html" %}
{% block content %}
<!--lyoutissa: Kirjautuneena <b>{{  session.user_name  }}</b> 
 |  <a href="/settings">Omat asetukset</a>  |  <a href="/logout">Kirjaudu ulos</a> -->
<p>
<hr>
<h2> {{group_info[0]|upper}}</h2>

Tapahtumien ajankohdat muodostuvat ilmoittautumisien perusteella (tapahtuma toteutuu, kun sopivasti osallistujia).<br>

<h2>Päiväkohtaisesti ryhmän jäsenien osallistumistilanne tapahtumissa:</h2>
<p>
    <hr>
<!--Sanakirja: päivänumerointi:[[alkuaika, tapahtuman nimi, dow, osallistujia, loppuaika],...,[päivämäärä]]-->
{% for i in range(7) %}
<p>
<!--tämä alkup. rivi alle kts.vkpv {{days[week[i][-1].strftime("%w")]}} {{week[i][-1].strftime("%d.%m.")}}
-->
{{days_i[i]}} {{week[i][-1].strftime("%d/%m")}}
Oma mahdollinen osallistumiseni päivälle:
<ul>
{% for entry in all_own_entries[i] %}
    <li><a href="/entry/delete_entry/{{entry[7]}}">peru</a> {{entry[1]}} klo {{entry[2].strftime('%H:%M')}} - {{entry[3].strftime('%H:%M')}}
{% endfor %}
</ul>

{{group_info[0]}} kaikkien jäsenien mahdolliset osallistumiset päivälle:
    {% if not week[i][1] %}
        <select name="no_entries">
            <option> ei ilmoittautumisia vielä<br>
        </select><br>
        <a href="/entry/{{i}}">Ehdit ekana! ..ilmoita oma mahdollinen aikataulusi päivälle tapahtumiin täällä</a>
    {% else: %}
        <select name="entries">
<!--kts nimeäminen vvv time voisi olla ?? time[0] alkuaika time[1] tapahtuma time[2] dow? time[3] osallistujien määrä time[4] loppuaika-->
        {% for event in week[i][:-1] %}
            {% for time in event %}
                <option> {{time[1]}} | klo {{time[0]}} - {{time[4]}} | osallistujia {{time[3]}}
            {% endfor %} 
        {% endfor %} 
        </select><br>
        
        <a href="/entry/{{i}}">ehdin myös ..ilmoita täällä mihin tapahtumaan ja milloin</a>
    {% endif %}
    <hr>
{% endfor %} 

<a href="/plan"><h4>Suunnittele seuraava viikko</h4></a>
<p>
Viestittele tässä muiden ryhmän jäsenien kanssa tapahtumiin liittyen:<br>
<input type="text" name="comment" minlength="1" maxlength="150">
<input type="submit" value="Lähetä">
<p>
<!------------------------------>
{{group_info[2]}}

<!--Lista: user_name, content, sent_at-->
{% if messages %}
<p> 
Viimeisimmät viestit:
<!--div style="width:150px;height:150px;overflow:auto;padding:5px;"-->
<ul>
{% for message in messages %}
 <li>{{message[2].strftime('%d/%m')}} {{message[2].strftime('%H:%M')}}  {{message[1]}} t. {{message[0]}}
{% endfor %}
</ul>
{% endif %}

<!--/div-->
</form>

{% endblock %}
