{% extends "layout.html" %}
{% block content %}
<h2>menossa mukana myös täällä!</h2>
<!----------------------------------------------------->
<form action="/entry/{{day}}" method="POST">
<p>
<h4>{{days_i[day]}} {{date.strftime('%d/%m')}}</h4>
<b>valitse tapahtuma:</b>
<select name="event_id">
{% for event in events %}
  <option value={{event[0]}}> {{event[1]}}
{% endfor %}
</select>
<p>
<b>valitse kellonaika:</b>
<input type="time" name="time1">
 - <input type="time" name="time2">
<p>
<b>mukanani tulee lisäosallistujia:</b>
<input type="number" name="extra_participants" min="0" max="99" value="0">
<p>
<b>kommenttia osallistumiseeni liittyen: </b><br>
<input type="text" name="comment" maxlength="150"><br>
<h5>kommentti näkyy kalenterisivun keskustelussa mukana</h5>
<p>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<input class="button" type="submit" value="Tallenna ilmoittautuminen">
<p>
<hr>
<p>
<!----------------------------------------------------->
<b>Osallistujat tänään:</b>
<table>
  <th>tapahtuma</th>
  <th>mukana</th>
  <th>klo</th>
  <th>lisäos.</th>
{% for participant in participants %}
  <tr>
  <td> {{participant[0]}} </td>
  <td> {{participant[1]}} </td>
  <td> {{participant[2].strftime('%H:%M')}} - {{participant[3].strftime('%H:%M')}} </td>
  <td> {% if participant[4] != 0 %}
         {{ participant[4]}}
       {% endif %} </td>
  <td> {% if participant[5] %}
    , {{ participant[5]}}
       {% endif %} </td>
  </tr>
{% endfor %}
</table>
<p>
</form>
{% endblock %}
