{% extends "layout.html" %}
{% block content %}
<h2>menossa mukana!</h2>
<form action="/entry/{{day}}" method="POST">
<p>
<!--@app.route("/entry/<day>", methods=["GET","POST"])
def entry(day):
    #print("-- entry")
    day = int(float(day))
    user_id = session["user_id"]
    date = datetime.datetime.today() + datetime.timedelta(days=day)
    #print("--edelleen..")
    if request.method == "GET":
        event_list = events.get_events(user_id)
        return render_template("entry.html", events=event_list, date=date, day=day)
      return render_template("entry.html", events=event_list, date=date, day=day)

listalla: e.id, e.name, e.description, e.min_participants, e.max_participants, e.event_level-->
<h4>{{days_i[day]}} {{date.strftime('%d/%m.')}}</h4>
<!--#pvm, event.name, alkuaika, loppuaika, dow, day, i-->
<b>valitse tapahtuma:</b>
<select name="event_id">
    {% for event in events %}
    <option value={{event[0]}}> {{event[1]}}
    {% endfor %}            
</select>
<p>
<b>valitse kellonaika:</b>
<input type="time" name="time1">
<input type="time" name="time2">
<p>
<b>mukanani tulee lisäosallistujia:</b>
<input type="number" name="extra_participants" min="0" max="99" value="0">
<p>
<b>kommenttia osallistumiseeni liittyen: </b><br>
<input type="text" name="comment" maxlength="150"><br>
(kommentti näkyy myös kalenterisivun keskustelussa mukana)
<p> 
<b>Osallistujat tänään:</b>
<ul>
    {% for participant in participants %}
        <li> {{participant[0]}} | {{participant[0]}} klo {{participant[1]}} - {{participant[2]}}
            {% if participant[3] != 0 %}
            , lisäosallistujia mukana {{ participant[3]}}
            {% endif %}
            {% if participant[4] %}
            , {{ participant[4]}}
            {% endif %}
        </li>
    {% endfor %}
</ul>
<p>
<input type="submit" value="Tallenna ilmoittautuminen">
</form>
<!--
Valittu: tähän pvm
Osallistun klo 00:00 - 00:00 valitse

tai valitse vakioajoistasi klo 17:15 - 19:00 valitse
                                20:00 - 21:00 valitse

tänään osallistumassa:
lista osallistujista ja ajoista...
-->
{% endblock %}
