{% extends "layout.html" %}
{% block content %}
<h2>menossa mukana!</h2>
<form action="/entry/{{day}}" method="POST">
<p>
<h4>{{days_i[day]}} {{date.strftime('%d/%m')}}</h4>
<b>valitse tapahtuma:</b>
<select name="event_id">
    {% for event in events %}
    <option value={{event[0]}}> {{event[1]}}
    {% endfor %}            
</select>
<p>
<b>valitse kellonaika:</b>
<input type="time" name="time1">
<input type="time" name="time2">
<p>
<b>mukanani tulee lisäosallistujia:</b>
<input type="number" name="extra_participants" min="0" max="99" value="0">
<p>
<b>kommenttia osallistumiseeni liittyen: </b><br>
<input type="text" name="comment" maxlength="150"><br>
(kommentti näkyy kalenterisivun keskustelussa mukana)
<p>
<!------------------------------------------------------------------------------->
<!-- tämä keskeneräinen ja rajattu näkymään vain adminille/ryhmän perustajalle --> 
{% if session["user_role"] == 1 or session["user_role"] == 0 %}

<b>Osallistujat tänään:</b>
<ul>
    {% for participant in participants %}
        <li> {{participant[0]}} | {{participant[0]}} klo {{participant[1]}} - {{participant[2]}}
            {% if participant[3] != 0 %}
            , lisäosallistujia mukana {{ participant[3]}}
            {% endif %}
            {% if participant[4] %}
            , {{ participant[4]}}
            {% endif %}
        </li>
    {% endfor %}
</ul>
<p>
{% endif %}
<!----------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------>
<input type="submit" value="Tallenna ilmoittautuminen">
</form>
{% endblock %}
