{% extends "layout.html" %}
{% block content %}

<h3>{{group_info[0]|upper}}</h3>
<b>Suunnittele seuraavia osallistumisia</b>
<p>
Lisää niiden tapahtumien kohdalle aika, joihin osallistut ja tallenna yksitellen tai päivän kaikki osallistumiset kerralla.<br>
Tapahtuman peruminen hukkaa tallentamattomat ajat, joten tallenna ennen perumista.
<hr>
{% for i in range(7) %}
  <p id="dayrow">{{days_i[i]}} {{week[i][-1].strftime("%d/%m")}}
<!--omat osallistumiset-->
  <p><b>Omat mahdolliset osallistumiseni :</b>
  <ul>
  {% for entry in all_own_entries[i] %}
    <form action="/plan/entry_cancel" method="POST">
    <li><input class="cancel_button" type="submit" value="peru"> {{entry[1]}} klo {{entry[2].strftime('%H:%M')}} - {{entry[3].strftime('%H:%M')}}
    <input type="hidden" name="entry_id" value="{{entry[7]}}">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    </li>
    </form>
  {% endfor %}
  </ul>
<!--aikakentät----------->
  <form action="/plan" method="POST">
  <table>
  {% for j in range(events|length) %}
    <tr>
      <td>{{events[j][1]}}</td>
      <td>   klo <input id="timefield" type="time" name="time_start"> - <input id="timefield" type="time" name="time_finish"></td>
      <input type="hidden" name="day" value={{i}}> <input type="hidden" name="event_index" value={{j}}>
    </tr>
  {% endfor %}
  </table>
  <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
  <input class="button" type="submit" value="Tallenna">
  </form>
<!--ryhmän suunnitelmat--->
  <p>
  ryhmän alustavia suunnitelmia..
  {% if not week[i][1] %}
    <select name="no_entries">
      <option> ei ilmoittautumisia vielä
    </select>
  {% else: %}
    <form action="/plan/pick" method="POST">
    <select name="plan_pick">
    {% for j in range(week[i][:-1] | length) %}
      {% for k in range(week[i][:-1][j] | length) %}
        <option value="{{week[i][:-1][j][k]}}"> {{week[i][:-1][j][k][1]}} | klo {{week[i][:-1][j][k][0]}} - {{week[i][:-1][j][k][5]}} | osallistujia {{week[i][:-1][j][k][3]}}</option>
      {% endfor %}
    {% endfor %}
    <input type="hidden" name="date" value="{{week[i][-1]}}">
    </select>
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    <input class="button" type="submit" value="mukana!"><br>
    </form>
  {% endif %}
  <hr>
{% endfor %} 
<p>
<h4>Kaverien alustavia suunnitelmia:</h4>
<!--  pvm:n mukaan, alajaottelu tapahtuman mukaan
        sql = """SELECT DISTINCT u.name, e.name, en.start_time, en.finish_time, dow, event_id, en.date, en.weekly
                ORDER BY dow, en.event_id, u.name"""
-->
<table>
{% for friend in friends_plans %}
  <tr>
    <tr>
    <td>{{friend[4]}}</td>
    <td>{% if friend[6] %} {{friend[6].strftime("%d/%m")}} {% else %} vakio {% endif %}</td>
    <td>{{friend[1]}}</td>
    <td>{{friend[0]}}</td>
    <td>klo {{friend[2]}} - {{friend[3]}}</td>
  </tr>
{% endfor %}
  </table>

{% endblock %}
