{% extends "layout.html" %}
{% block content %}

<p>
<hr>
<h3>TÄHÄN RYHMÄN NIMI {{group_info[0]}}</h3>
<form action="/plan" method="POST">

<b>viikon päästä:</b>
<p>
    suunnittele ja tallenna ilmoittautumisia
{% for i in range(7) %}
<p>
    # TÄHÄN viikonpäivä {{days[week[i][-1].strftime("%w")]}} {{week[i][-1].strftime("%d.%m.")}} 
    <ul>
    <!--listassa nyt: e.id, e.name, e.description, e.min_participants, e.max_participants, e.event_level-->
    {% for j in range(events|length) %}
            <li>{{events[j][1]}} <input type="time" name="time_start"> - <input type="time" name="time_finish">
                <input type="hidden" name="day" value={{i}}> <input type="hidden" name="event_index" value={{j}}>

    {% endfor %}
    </ul>

    ryhmän alustavia suunnitelmia..
    {% if not week[i][1] %}
        <select name="no_entries">
            <option> ei ilmoittautumisia vielä
        </select>
    {% else: %}
        <select name="entries">
        {% for event in week[i][:-1] %}
            {% for time in event %}
                <option> {{time[1]}} klo {{time[0]}} - {{time[4]}} osallistujia {{time[3]}}
            {% endfor %} 
        </select>
        {% endfor %} 
    {% endif %}
    </select>
{% endfor %} 

<p>
            
<input type="submit" value="Tallenna">


<!--Lista: dow, event.name, alkuaika, loppuaika, lepopäivät-->
<p>
    <h3> Omat suunnitelmasi tälle ajanjaksolle: </h3>
        <ul>
            {% for entry in all_event_entries %}
        <li>{{days[entry[0]]}} #kts.pvm 
            {{entry[1]}} 
            klo {{entry[2].strftime('%H:%M')}} - {{entry[3].strftime('%H:%M')}} 
            <a href="/entry">muuta #kts.linkki oikeaksi </a>
            {% endfor %}
        </ul>

<p>   
<a href="/calendar"><h4>Takaisin</h4></a>
<p>

#TÄHÄN LISTANA KAVERIEN ALUSTAVAT SUUNNITELMAT
<h4>Kaverien alustavat suunnitelmat:</h4>
<!--  pvm:n mukaan, alajaottelu tapahtuman mukaan
-->
<ul>
    {% for entry in friends_plans %}
    <li> kaverin nimi klo alku - loppu 
    {% endfor %}
</ul>

</form>
{% endblock %}
