{% extends "layout.html" %}
{% block content %}

<h2>Rekisteröidy ja liity ryhmään</h2>
<h2>{{group_info.name}}</h2>
<P id="ginfo">{{group_info.description}}</P>
<!----------------------------------------------------->
<form action="/register" method="POST">
<p>
Tunnus: <br><input type="text" name="username" minlength="2" maxlength="35">
<p>
Salasana: <br><input type="password" name="password1">
<p>
Salasana uudestaan: <br><input type="password" name="password2">
<p>
<h3>Ryhmän nimi: {{group_info.name}} </h3>
<p>
Liittymissalasana: <br><input type="password" name="password_group">
<p>
(saat liittymissalasanan ryhmän jäseneltä tai ryhmän adminilta, <br>
ryhmän tsoha salasana on tsoha)
<p>
<b>Valitse kaikki tapahtumat, joihin mahdollisesti saatat osallistua:<br>
</b>(oletuksena on valittu kaikki)
{% for i in range(events|length) %}
<p>   <input type="checkbox" name="event_checked" value="{{events[i][0]}}" checked> {{events[i][1]}}
{% endfor %}
<p>
<input class="button" type="submit" value="Lähetä rekisteröinti ja liitä ryhmään">
<p>
<hr>
<input type="hidden" name="group_reg" value="old_group">
<p>
</form>
<!----------------------------------------------------->
{% endblock %}