{% extends "layout.html" %}
{% block content %}
<p>
<!--U------------------------------------------------------------------>
<form action="/settings/change_user_name" method="POST">
<h2>Omat tiedot hallinta</h2>
<p>
Tunnuksesi on: {{ user_info[0] }}<br>
Kalenterissa näkyvä nimesi on: {{ user_info[1] }}<br>
<!--Yhteystietosi adminille: {% if user_info[2] %} {{ user_info[2] }} {% endif %}<br>-->
<p>
<hr>
<b>Vaihda kalenterissa näkyvä nimesi*</b> <br>
Anna uusi nimi:<br>
<input type="text" name="name" minlength="2" maxlength="35">
<br><span id="ginfo">*Huom! tunnuksesi ei muutu, vain kalenterissa näkyvä nimesi muuttuu.
 Nimesi päivittyy kaikkialle seuraavassa sisäänkirjautumisessa.</span>
<br>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<input class="button" type="submit" value="Tallenna muutos">
<p>
</form>
<p>
<hr>
<!--U------------------------------------------------------------------>
<form action="/settings/change_contact_info" method="POST">
<b>Anna yhteystietosi:</b>*<br>
<input type="text" name="contact_info" maxlength="100"><br>
*vain adminin/adminien tietoon<br>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<input class="button" type="submit" value="Tallenna muutos">
<p>
</form>
<hr>-->
<!--U------------------------------------------------------------------->
<form action="/settings/change_password" method="POST">
<b>Salasanan vaihto:</b>
<p>
Vanha salasana:<br><input type="password" name="old_password">
<p>
Uusi salasana:<br><input type="password" name="new_password1">
<p>
Uusi salasana uudelleen: <br><input type="password" name="new_password2">
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<p>
<input class="button"  type="submit" value="Tallenna muutos">
<p>
</form>
<hr>
<!--U------------------------------------------------------------------->
<p>
<form action="/settings/weekly_entries" method="POST">
<h2>Viikottaiset vakio-osallistumisajat</h2>
<p>
Lisään uuden viikottaisen vakioajan<br>
tapahtumalle:
<select name="weekly_event">
{% for event in events_with_own_level %}
{% if event[6] == 2 %}
  <option value="{{event[0]}}">{{event[1]}}
{% endif %}
{% endfor %}
</select>
<p>
viikonpäivä
<select name="weekly_dow">
  <option value="1">MA
  <option value="2">TI
  <option value="3">KE
  <option value="4">TO
  <option value="5">PE
  <option value="6">LA
  <option value="0">SU
</select>
<p>
klo <input type="time" name="weekly_time_start"> - <input type="time" name="weekly_time_end">
<p>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<input class="button" type="submit" value="Tallenna muutokset">
<p>
</form>
<!--U--------------------------------------------------------------->
Vakioaikani:
<Ul>
{% if own_weekly_entries %}
  {% for entry in own_weekly_entries %}
    <form action="/settings/weekly_cancel" method="POST">
    <li><input class="cancel_button" type="submit" value="X"> {{days[entry[0]]}} {{entry[2]}} klo {{entry[3].strftime('%H:%M')}} - {{entry[4].strftime('%H:%M')}}
    <input type="hidden" name="entry_id" value="{{entry[5]}}">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    </li>
    </form>
  {% endfor %}
{% endif %}
</Ul>
<p><span id="ginfo">
  Huom! Vakioaika peruuntuu automaattisesti kaikkialta, kun se perutaan missä tahansa.<br>
  Lisää ajankohta tarvittaessa kalenterinäkymään tavallisena ilmoittautumisena.<br>
  Tapahtuman poistaminen kalenterinäkymästä (alla) ei poista vakioilmoittautumistasi.</span>
<p>
<hr>
<!--U--------------------------------------------------------------->
<form action="/settings/change_calendarview" method="POST">
<h2>Kalenterinäkymässä näkyvät tapahtumat</h2>
<p>
Tässä voit valita tapahtumat, jotka näkyvät kalenteriisi
<p>
Tapahtuman nimi:
<table>
{% for event in events_with_own_level %}
<tr>
  {% if event[6] == 2 %}
    <td><input type="checkbox" name="event_pick" value="{{event[0]}}" checked ></td>
    <td><label for="event_pick"> {{event[1]}}</label></td>
   <!-- <td>taso {{event[5]}}</td>-->
    <td>..{{event[2]}}</td>
  {% else %}
    <td><input type="checkbox" name="event_pick" value="{{event[0]}}"></td>
    <td><label for="event_pick"> {{event[1]}}</label></td>
   <!-- <td>taso {{event[5]}}</td>-->
    <td>..{{event[2]}}</td>
  {% endif %}
</tr>
{% endfor %}
</table>
<p>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<input class="button" type="submit" value="Tallenna muutokset">
<p>
</form>
<hr>
<!--U---------------------------------------------------------------->
<form action="/settings/friends" method="POST">
<h2>Lisää kavereita</h2>
Voit seurata kavereidesi alustavia toisen viikon suunnitelmia.<br>
<b>Lähetä kaveripyyntö, anna kaverisi kalenterissa oleva nimi: </b><br>
<input type="text" name="friend">
<p>
{% if friend_requests %}
<b>Hyväksy kaveripyyntöjä: </b><br>
Kaveripyynnöt:<br>
  {% for friend_asking in friend_requests %}
    <input type="checkbox" name="friend_asks" value="{{friend_asking[0]}}" >{{friend_asking[1]}} <br>
  {% endfor %}
{% endif %}
<hr>
{% if friends%}
<b>Poista kavereita: </b><br>
  Kaverisi:<br>
  {% for friend in friends %}
    <input type="checkbox" name="friends" value="{{friend[0]}}">{{friend[1]}} <br>
  {% endfor %}
{% endif %}
<p>
{% if friend_requests_own %}
<b>Poista kaveripyyntöjä: </b><br>
  Omat kaveripyyntösi, odottaa vastausta:<br>
  {% for own_ask in friend_requests_own %}
    <input type="checkbox" name="ask_cancel" value="{{own_ask[0]}}">{{own_ask[1]}} <br>
  {% endfor %}
{% endif %}
<p>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<input class="button" type="submit" value="Tallenna muutokset">
<p>
</form>
<hr>
<!----------------------------------------------------------------------->
<!-------------ADMIN----------------------------------------------------->
<!----------------------------------------------------------------------->
{% if session["user_role"] == 1 or session["user_role"] == 0 %}
<form action="/settings/change_group_name" method="POST">
<h2 >Ryhmän hallinta -admin</h2>
<p>
<hr>
<p>
<b>Muuta ryhmän nimi</b> <br>
Anna uusi nimi:<br>
<input type="text" name="name_group" minlength="2" maxlength="30">
<p>
<input class="button" type="submit" value="Tallenna muutos">
<p>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>
<p>
<!--A-------------------------------------------------------------------->
<form action="/settings/change_group_description" method="POST">
<b>Muuta ryhmän kuvaus</b><br>
Ryhmän kuvaus: <br><textarea name ="group_description" rows="3" cols="50" maxlength="400"></textarea>
<p>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<p>
<input class="button" type="submit" value="Tallenna muutos">
<p>
</form>
<!--A------------------------------------------------------------------->
<form action="/settings/change_group_password" method="POST">
<b>Muuta ryhmän liittymissalasana:</b><br>
Huom! muuta takaisin ryhmän salasanaksi tsoha jos kokeilet.. :)
<p>
Oma kirjautumissalasanasi:<br><input type="password" name="own_password">
<p>
Uusi liittymissalasana:<br><input type="password" name="new_password1">
<p>
Uusi liittymissalasana uudelleen: <br><input type="password" name="new_password2">
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<p>
<input class="button" type="submit" value="Tallenna muutos">
<p>
</form>
<hr>
<!--A------------------------------------------------------------------------->
<form action="/settings/add_new_event" method="POST">
<h2>Uuden tapahtuman luominen:</h2>
<b>Anna tapahtuman nimi: <input type="text" name="new_event_name" minlength="1" maxlength="30"></b>
<p>
<b>..voit halutessasi antaa lisätietoa:</b>
<p>
Anna tapahtuman kuvaus: <textarea name="new_event_description" rows="2" cols="50" maxlength="150"></textarea>
<p>
Anna minimiosallistujamäärä: <input type="number" name="new_event_min_participants" min="0" max="99999">
<p>
Anna maksimiosallistujamäärä: <input type="number" name="new_event_max_participants" min="0" max="99999">
<p>
<b>..ja rajata osallistujille oman taitotason tapahtumia:</b>
<p>
Anna tapahtumaan vaadittava taso: <input type="number" name="new_event_level" min="0" max="99"><br>
<p>
Huom! Mikäli käytit tasoasetuksia, päivitä tapahtuman kohderyhmän jäsenille riittävä taso tapahtumaan
jäsenten asetuksissa tapahtuman tietojen tallentamisen jälkeen <br>
<a href="/settings/admin/userlist">pääset tästä jäsenten asetuksiin</a>
<p>Jäsenillä on oletuksena oikeus ilmoittautua nollatason tapahtumiin.
Esim. jos määrittelet jäsenelle tason 5, niin jäsen näkee kaikki tapahtumat tasoilla 0-5
ja voi omissa asetuksissaan valita näistä tapahtumista itselleen sopivat tapahtumat kalenterissa näytettäväksi.
<p>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<input class="button" type="submit" value="Tallenna uuden tapahtuman tiedot">
<p>
</form>
<hr>
<!--A----------------------------------------------------------------------------->
<form action="/settings/change_event_info" method="POST">
<h2>Tapahtuman muuttaminen tai poistaminen käytöstä</h2>
<p>
<p><b>valitse tapahtuma:</b>
<select name="event_pick">
    {% for event in all_events %}
<option value="{{event[0]}}"> {{event[1]}} | taso {{event[5]}}
    {% endfor %}
</select>
<p>
  <b>valitse toiminto:</b>
<select name="event_action">
<option value="2"> muuta nimi
<option value="3"> muuta kuvaus
<option value="4"> muuta minimiosallistujamäärä
<option value="5"> muuta maksimiosallistujamäärä
<option value="6"> muuta tasomääritys
<option value="1"> poista käytöstä*
</select>
<p>
<b>Täytä vain valintaasi vastaava kenttä:</b>
<p>
muuta nimi: <input type="text" name="event_name" minlength="1" maxlength="35">
<p>
muuta kuvaus: <textarea name="event_description" rows="2" cols="40" maxlength="150"></textarea>
<p>
minimi- tai maksimiosallistujamäärä: <input type="number" name="number_value1" min="0" max="99999">
<p>
muuta taso: <input type="number" name="number_value2" min="0" max="99">
<h5>
*käytöstä poistetut tapahtumat (taso 100) voidaan ottaa uudelleen käyttöön muuttamalla tasomääritys normaaliksi.
</h5>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<input class="button" type="submit" value="Tallenna muutokset">
<p>
</form>
<hr>
<!--A-------------------------------------------------------------------->
<form action="/settings/admin/message" method="POST">
<h2>Admin -viesti</h2>
Lyhyt viesti, joka näkyy jäsenille ensimmäisen viikon näkymässä ja on päivitettävissä.
<p>
Viestisi: <input type="text" name="admin_info" maxlength="150">
<p>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<input class="button" type="submit" value="Tallenna viesti">
<p>
</form>
<hr>
<!--A--------------------------------------------------------------------------->
<form action="/settings/admin/management_users" method="POST">
<h2>Jäsenten hallinta</h2>
<p>
<a href="/settings/admin/userlist">Tarkastele ja muuta jäsenien asetuksia</a>
<p>
</form>
<hr>
{% endif %}
{% endblock %}
